<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="repaso-padrea">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `repaso-padrea`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RepasoPadrea extends Polymer.Element {
      static get is() { return 'repaso-padrea'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'repaso-padrea'
          }
        };
      }
    }

    window.customElements.define(RepasoPadrea.is, RepasoPadrea);
  </script>
</dom-module>
