<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../repaso-hijob/repaso-hijob.html">
<link rel="import" href="../repaso-hijoc/repaso-hijoc.html">

<dom-module id="repaso-padrea">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="[[padrea]]">
      <h2>[[prop1]]</h2>
      <paper-button on-click="cambiarhijob">[[btn1]]</paper-button>
      <paper-button on-click="cambiarhijoc">[[btn2]]</paper-button>
    </template>

    <template is="dom-if" if="[[hijob]]">
      <repaso-hijob></repaso-hijob>
    </template>

    <template is="dom-if" if="[[hijoc]]">
      <repaso-hijoc></repaso-hijoc>
    </template>

  </template>

  <script>
    /**
     * `repaso-padrea`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RepasoPadrea extends Polymer.Element {
      static get is() { return 'repaso-padrea'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Soy el padre'
          },
          btn1: {
            type: String,
            value: 'Botón 1'
          },
          btn2: {
            type: String,
            value: 'Botón 2'
          },
          padrea: {
            type: Boolean,
            value: true
          },
          hijob: {
            type: Boolean,
            value: false
          },
          hijoc: {
            type: Boolean,
            value: false
          }
        };
      }
      cambiarhijob () {
        this.hijob = true;
        this.padrea = false;
      }
      cambiarhijoc () {
        this.hijoc = true;
        this.padrea = false;
      }
      
    }

    window.customElements.define(RepasoPadrea.is, RepasoPadrea);
  </script>
</dom-module>
